<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laiding.yl.youle">


    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.activity.ActivityPhoneLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- 设置环信应用的AppKey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1193171229115612#youle" />
        <!-- 声明SDK所需的service SDK核心功能-->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <!--即时通讯=======================================================================-->
        <!-- 聊天页面 -->
        <activity
            android:name=".im.activity.ActivityChat"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <!-- choose video -->
        <activity
            android:name=".im.activity.ImageGridActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".im.activity.RecorderVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!--show the video-->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!-- 显示下载大图页面 -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />

        <!-- 自定义的contextmenu -->
        <activity
            android:name=".im.activity.ContextMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" />

        <!--========================================即时通讯=============================================================-->

        <!-- ======================================自定义图片选择============================================-->
        <!--图片预览界面-->
        <activity
            android:name="com.laiding.yl.youle.widget.photopicker.activity.BGAPhotoPreviewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/BGAPPTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!--图片选择界面-->
        <activity
            android:name="com.laiding.yl.youle.widget.photopicker.activity.BGAPhotoPickerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/BGAPPTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!--图片选择预览界面-->
        <activity
            android:name="com.laiding.yl.youle.widget.photopicker.activity.BGAPhotoPickerPreviewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/BGAPPTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <provider
            android:name="com.laiding.yl.youle.widget.photopicker.util.BGAPhotoFileProvider"
            android:authorities="${applicationId}.bga_photo_picker.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/bga_photo_picker_file_paths" />
        </provider>
        <!-- 图片裁剪页面 -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!-- ======================================自定义图片选择============================================-->


        <!-- 首页 -->
        <activity
            android:name=".home.activty.ActivityHome"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <!-- 密码登陆 -->
        <activity
            android:name=".login.activity.ActivityPassLogin"
            android:screenOrientation="portrait" />
        <!-- 找回密码 -->
        <activity
            android:name=".login.activity.ActivityUpdatePassWord"
            android:screenOrientation="portrait" />
        <!-- 试管婴儿流程 -->
        <activity
            android:name=".home.activty.ActivityTestTubeBabyProcess"
            android:screenOrientation="portrait" />
        <!-- 试管婴儿成功率-->
        <activity
            android:name=".home.activty.ActivityIVFSuccessRate"
            android:screenOrientation="portrait" />
        <!-- 诊疗记录 -->
        <activity
            android:name=".home.activty.ActivityMedicalRecords"
            android:screenOrientation="portrait" />
        <!-- 饮食助手 -->
        <activity
            android:name=".home.activty.ActivityDietAssistant"
            android:screenOrientation="portrait" />
        <!-- 好孕指导-->
        <activity
            android:name=".home.activty.ActivityGoodPregnancyGuidance"
            android:screenOrientation="portrait" />
        <!-- 备孕检查-->
        <activity
            android:name=".home.activty.ActivityPregnancyTest"
            android:screenOrientation="portrait" />
        <!-- 试管指导-->
        <activity
            android:name=".home.activty.ActivityTestTubeGuidance"
            android:screenOrientation="portrait" />
        <!-- 合法代孕-->
        <activity
            android:name=".home.activty.ActivityLegitimateSurrogacy"
            android:screenOrientation="portrait" />
        <!-- 设置-->
        <activity
            android:name=".mine.activity.ActivitySet"
            android:screenOrientation="portrait" />
        <!-- 个人资料-->
        <activity
            android:name=".mine.activity.ActivityPersonalInformation"
            android:screenOrientation="portrait" />
        <!-- 资讯详情-->
        <activity
            android:name=".Information.activity.ActivityInformationDetail"
            android:screenOrientation="portrait" />
        <!-- 添加诊疗记录-->
        <activity
            android:name=".home.activty.ActivityAddMedicalRecords"
            android:screenOrientation="portrait" />
        <!-- 诊疗记录详情-->
        <activity
            android:name=".home.activty.ActivityMedicalRecordsDetail"
            android:screenOrientation="portrait" />
        <!-- 诊所详情-->
        <activity
            android:name=".clinic.activity.ActivityClinicDetail"
            android:screenOrientation="portrait" />
        <!-- 专家团队-->
        <activity
            android:name=".clinic.activity.ActivityDoctorList"
            android:screenOrientation="portrait" />
        <!-- 专家详情-->
        <activity
            android:name=".clinic.activity.ActivityDoctorDetail"
            android:screenOrientation="portrait" />
        <!-- 账号绑定-->
        <activity
            android:name=".mine.activity.ActivityAccountBinding"
            android:screenOrientation="portrait" />
        <!-- 关于我们-->
        <activity
            android:name=".mine.activity.ActivityAboutUs"
            android:screenOrientation="portrait" />
        <!-- 修改手机号-->
        <activity
            android:name=".mine.activity.ActivityUpdatePhone"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activity.ActivityUpdatePhone2"
            android:screenOrientation="portrait" />
        <!-- 备孕检查详情-->
        <activity android:name=".home.activty.ActivityPregnancyDetail"
            android:screenOrientation="portrait"/>

    </application>

</manifest>