<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.hyphenate.easeui">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application>
        <activity android:name=".ui.EaseShowNormalFileActivity" />

        <provider
            android:name="com.hyphenate.easeui.utils.PhotoFileProvider"
            android:authorities="com.hyphenate.easeui.photo_picker.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/bga_photo_picker_file_paths" />
        </provider>
    </application>
</manifest>
